@media screen and (min-width:1305px) {
    article>div.header>div{
        width:1300px;

    }
    #box03>div{
        width:1300px; 
      
        margin:0 auto;
      }
 #box05>div{
        width:1100px;
       
      }
 #box02>div{
        width:1110px;
       
      }
}
@media screen and (max-width:1304px) and (min-width:1100px){
   
    #box05>div{
        width:1100px;
       
      }
#box02>div{
        width:1110px;
       
      } 


}
@media screen and (max-width:1104px) and (min-width:980px) {

}
@media screen and (max-width:979px) and (min-width:580px){

    header{
        padding:24px 0;
    
    }
    header>div{
        display: block;
        text-align: center;
    }
    nav{
        position:fixed;
         left:-40vw; 
         /* 모르게쑴 */
        width:40vw;
        top:0;
       
        height:100vh;

        /* 모르게쑴 */
        background-color: rgba(0,0,0,0.92);
        z-index:999;
        padding:20vh 0 0;
    
    }
    nav .close{
      display: block;

    }
    nav>ul{
        width:30vw;
        margin:0 auto;
    }
    nav>ul>li{
        display:block;
        margin-left:0;
        border-bottom:1px solid #fff;
        text-align:center;
    }
    nav>ul>li>a{
        line-height: 12vh;
    }
    header>.btn{
        display: block;
    
    }
    header>.btn>span{
        position:absolute;
        width:100%;
        height:2px;
        background-color:#fff;
        left:0; top:0;
    }
    header>.btn>span:nth-child(2){
        top:20.2%;
    }
    header>.btn>span:nth-child(3){
        top:40.4%;
    }
    header>.btn>span:nth-child(4){
        top:60.6%;
    
    }
    header>.btn>span:nth-child(5){
        top:80.8%;
    
}
#box02 .box{
    position:static;
     padding-left:0; 
}
#box02 .box>figure{
    position:static;
    width:auto;
    text-align:center;
    margin-bottom:48px;
}
#box02 .box>div p.title{
    text-align: center;


} 
#box02 .box>div p.text{
    width:92vw;
    margin:0 auto 40px;   

}
#box02 .box>div p.btn{
    margin-right: 4vw;
  }
#box03 .box{
  display:block;
}  
#box03 .box>h3{
    display:block;
    
}  
#box03 .box>div{
    width:auto;
    margin-bottom: 30px;


}
#box03 .box>div p.title{
    text-align: center;
    width:92vw;
    line-height: 30px;

}
#box03 .box>div p.text{
    text-align: center;
    
     width:92vw;
      
    margin-bottom: 45px;
    line-height: 30px;

}
#box03 .box>ul{
    width:60vw;
    margin:0 auto;
    overflow: hidden;

}
#box03 .box>ul>li{
    width:8vw; height:8vw;
    margin:0 1vw 2vw;
    box-sizing: border-box;
    background-size: 60%;
}
#box04>div{
    width:auto;
}
#galley{
    position:relative;
}
#galley #show{
    width:84vw;
    margin:0 auto;
     overflow: hidden; 
}
#galley #all{
    width:168vw;
    justify-content: flex-start;
}
#galley figure{
    width:24vw;
    
    margin-bottom:0;
    margin:0 2vw;
    /* width:33%; */
    /* width:31%; */
}
#galley p{
    position:absolute;
    width:3vw;
    height:3vw;
   
     margin-top:-1.5vw; 
    /* background-color:red; */
    display: block;
    
  }
  #galley p.prev{
    left:3vw;
  }
  #galley p.next{
    right:3vw;
  }
  #box05 .box{
    position:static;
    padding-right:0;
  }
  #box05 .box>div{
    /* jquery 해결 */
    height:auto;
    margin:0 auto;
  }
  #box05 .box>div .title{

    color:#fff;
    text-align: center;
  }
  #box05 .box>div .text{
    
    width:88vw;
    margin:0 auto 45px;
  }
  #box05 .box>form{
    position:static;
    
    width:76vw;
    
    padding:4vw 4vw;
    margin:0 auto;
    
  }
  aside .scroll{
      display: none;
      
  }


 

}
@media screen and (max-width:579px) and (min-width:5px){
    header{
        padding:20px 0;
       
        
      }
header>div{
        display:block;
        text-align: center;
     
      }
     
header>div>nav{
        position:fixed;
        left:-100vw;
        top:0;
        width:100vw;
        height: 100vh;
        /* width:390px; */
        background-color: rgba(0,0,0,0.92);
        z-index:100;
        padding:20vh 0 0;
        box-sizing: border-box;
        
      }
nav>ul{
        width:60vw;
    margin:0 auto;
    background-color: #666;

}
nav>ul>li{
        display:block;
        margin-left:0;
        border-bottom: 1px solid #fff;
        
      
      }
nav>ul>li>a{
        line-height: 12vh;
        
      }
#box01>h3{
        position:absolute;
        left:0;
        top:50%;
        width:100%; height:280px;
        border:none;
        margin:-140px 0 0 0;
      }
#box01>ul>li{
        background-position: right center;
      }
#box01>p.link{
     
        left:0;
        margin-left:0;
        /* -660px; */
       
        justify-content: center;
      }
/* header>.btn{
        display: block;
      }
header>.btn>span{
        position:absolute;
        width:100%;
        height:2px;
        background-color:#fff;
        left:0; top:0;
      }
header>.btn>span:nth-child(2){
    top:20.2%;
}
header>.btn>span:nth-child(3){
    top:40.4%;
}
header>.btn>span:nth-child(4){
    top:60.6%;

}
header>.btn>span:nth-child(5){
    top:80.8%;
} */

  /* 변칙 */
  #box02>div{
    width:auto;
  }
  #box02 .box{
    position:static;
    padding-left:0;
  }
  /* 변칙 */
  #box02 .box>figure{
position:static;
width:auto;
text-align: center;
  }

  #box02 .box>figure>img{
    width:50%;
}
 

  #box02 .box>div p.title{
    text-align: center;
    width:90vw;
    margin:0 auto 45px;

  }
  #box02 .box>div p.text{
    width:90vw;
    margin:0 auto 45px;
    text-align: justify;
   
  }
  #box02 .box>div p.btn{
    text-align:center;
  }
 
#box03>div{
    width:auto;
}
#box03 .box{
    display:block;

    
    
    
  }
  #box03 .box>div{
    width:auto;
  }
  #box03 .box>div>p.title{
    
    text-align: center;

  }
  #box03 .box>div>p.text{
    
    width:90vw;
    margin:0 auto 45px;
    
  }
  #box03 .box>ul{
    width:60vw;
    /* width:50%; */
    margin:0 auto;
    overflow: hidden;
  }
  #box03 .box>ul>li{
    /* 사각형 */
    width:10vw; height:10vw;
    margin:0 2.5vw 5vw;
    float:left;
    box-sizing: border-box;
    /* border:2px solid #cbcbcb;
    margin: 0 8px 16px;
    float:left; */
    /* text-indent: -99999px;
    background:url('../images/icon/html5.png') no-repeat center; */
    background-size:60%;
  }

#box04>div{
    width:auto;
  }
  #box04 div>.title{
    color:#fff;
    width:90vw;
    margin:0 auto;
  }
  #box04 div>ul{
    margin-bottom:40px;
    color:#fff}
  #box04 div>ul>li{
    width:90vw;
    margin:0 auto 10px;
    display:block;
    padding:20px 0;
    box-sizing: border-box;
    
    border-left:none;
    border:1px solid #fff}
    #box04 div>ul>li:first-child{
        border-left:1px solid #fff;
      }


 #galley{
    position: relative;
  } 
#galley #show{
    width:80vw;
    margin:0 auto;
    overflow: hidden;

  }
  #galley #all{
    width:240vw;
   
    justify-content: flex-start;
    
   }
  #galley figure{
    width:35vw;
    
    margin-bottom:0;
    margin:0 2.5vw;
    /* width:33%; */
    /* width:31%; */
}
  #galley figure>img{
    
  }
  #galley p{
    position:absolute;
    width:5vw;
    height:5vw;
    /* top:50%; */
    margin-top:-2.5vw;
    /* background-color:red; */
    display:block;

    
  }
  #galley p.prev{
    left:2.5vw;
  }
  #galley p.next{
    right:2.5vw;
  }
  #box05 .box{
    position:static;
    padding-right:0;
    }
    #box05 .box>div{
      /* jquery 해결 */
      height:auto;
    }
    #box05 .box>div .title{

      color:#fff;
      text-align: center;
    }
    #box05 .box>div .text{
      
      width:88vw;
      margin:0 auto 45px;
    }
    #box05 .box>form{
      position:static;
      
      width:76vw;
      
      padding:4vw 4vw;
      margin:0 auto;
      
    }
    aside .scroll{
        display: none;
    }




    
} 